.login {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
  }
  
  .loginTitle {
    font-size: 50px;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 5px 0;
    font-weight: 500;;
    font-size: 24px;
    line-height: 30px;
  }
  
  .loginInput {
    /* padding: 10px; */
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px !important;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .loginRegisterButton {
    position: fixed;
    top: 11px;
    z-index: 999;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: rgb(53, 124, 86);
    border-radius: 10px;
    margin-top: 10px;
  }
  .errorlogin{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 2px;
  }

 /* loader */
 @keyframes rotate {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }

  to {
      -webkit-transform: rotate(360deg);
  }
}

.load {
  width: 16px;
  height: 16px;
  margin-left: 0;
  border: solid 1px white;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}
