.header {
    margin-top: 10px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: black;
  }
  
  .headerTitleSm {
    font-size: 20px;
  }
  
  .headerTitleLg {
    font-size: 100px;
  }
  
  
  .normalSm {
    top: 12%;
    font-size: 20px;
  }
  
  .normalLg {
    top: 18%;
    font-size: 100px;
  }

  .headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
  }
  
  .headerImg1 {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .writeBlog{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    background-color: rgb(0, 30, 255);
    padding: 6px;
    border-radius: 4px;
    color: rgb(142, 175, 205);
  }
  .writeBlog:hover{
    color: aliceblue;

  }
  .writeHeight{
    font-size: 22px;
    margin-bottom: 4px;
  }
.writeHeight1{
  font-size: 22px;
}


@media screen and (max-width:1024px){
  .writeHeight{
    margin-bottom: 4px;
  }
  
};